<div class="comment">
	<h3>
		<%= link_to user_path(comment.user) do %>
			<%= gravatar_for comment.user, size: 50 %>
		<% end %>
		<%= comment.user.name %>:
	</h3>
	<center><hr></center>
	<p><%= comment.body %></p>
	<% if comment.created_at %>
	  <h6><%= time_ago_in_words(comment.created_at) %> ago</h6>
	<% end %>

	<div class="fa-container">
		<% if logged_in? and comment.user == current_user %>
			<%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }  do %>
				<i class="fa fa-trash" aria-hidden="true"></i>
			<% end %> 
		<% end %>
	</div>
	
</div>