<div class="form-container">
	<div class="form">
		<h2>Edit Profile</h2>

		<%= form_for(current_user) do |f| %>
		  <div class="text">
		  	<%= f.text_field :name, placeholder: "Name" %>
		  </div>

		  <div class="text">
		  	<%= f.text_field :email, placeholder: "Email" %>
		  </div>

		  <div class="text">
		  	<%= f.password_field :password, placeholder: "Password" %>
		  </div>

		  <%= f.submit "Edit Profile" %>
		<% end %>
	</div>
</div>