<div class="form-container">
	<div class="form">
		<h2>Create an Account</h2>
			<%= form_for(@user) do |f| %>
			  <div class="text">
			  	<%= f.text_field :name, placeholder: "Name" %>
			  </div>

			  <div class="text">
			  	<%= f.text_field :email, placeholder: "Email" %>
			  </div>

			  <div class="text">
			  	<%= f.password_field :password, placeholder: "Password" %>
			  </div>

			  <%= f.submit "Create Account" %>
			<% end %>
	</div>
</div>