<div class="show">
	<h2><%= @post.title %></h2>
	<center><hr></center>
	<h3>Created by <%= @post.user.name %> <%= time_ago_in_words(@post.created_at) %> ago</h3>
	<p><%= @post.body %></p>
	<%= link_to posts_path do %>
		<center><button class="show-button">Back to all posts</button></center>
	<% end %>

	<div class="fa-container">
		<% if logged_in? and @post.user == current_user %>
			<%= link_to edit_post_path(@post) do %>
				<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
			<% end %>
			&nbsp;&nbsp;&nbsp;
			<%= link_to post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } do %> 
				<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
			<% end %>
		<% end %>
	</div>

</div>

<div class="comment-container">
	<h2>Comments (<%= @post.comments.count %>)</h2>
	<%= render @post.comments.reverse %>
	<h4>Post Comment</h4>
	<br>
	<%= render 'comments/form' %>
	<br>
</div>


