<div class="header">
	<h1><%=link_to "RAILS BLOG", root_path %></h1>
</div>

<div class="nav-container">
<% if logged_in? %>
	<span><%= link_to "HOME", root_path %></span>
	<span><%= link_to "ALL POSTS", posts_path %></span>
  <span><%= link_to "USERS", '#' %></span>
  <span class="dropdown">
  	<%= link_to "user", current_user %>
  	<div class="dropdown-content">
	  	<%= link_to "PROFILE", current_user %>
	  	<%= link_to "LOG OUT", logout_path, method: "delete" %>
  	</div>
  </span>
<% else %>
	<div class="add-margin">
		<span><%= link_to "HOME", root_path %></span>
		<span><%= link_to "ALL POSTS", posts_path %></span>
	  <span><%= link_to "USERS", '#' %></span>
  </div>
<% end %>
</div>